@{
    ViewBag.Title = "Dashboard Cliente";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Bienvenido a tu Panel de Cliente</h5>
        <p class="mb-0">Explora la cartelera, realiza tus reservas y consulta tu historial desde el menú lateral.</p>
    </div>
</div>
